<!DOCTYPE html>
<%_

  // FrontMatterのMETA情報が無ければ、翻訳データを代入
  var
      _meta = {}
    , _publishEnviroment = 0 // 0 = Staging, 1 = Product;
    , _themeNum = curdetailnum === 'undefined' ? '' : curdetailnum
    , _themeMetaName = __('theme_' + _themeNum + '_meta_name')
    , _ogImagePath = __('ogimagepath') === 'undefined' ? '' : __('ogimagepath');
  ;

  if(slug === 'detail') {
    if(translation[_themeMetaName]) {
      _meta.title = translation[_themeMetaName].title ? translation[_themeMetaName].title : translation['index'].title;
      _meta.keyword = translation[_themeMetaName].keyword ? translation[_themeMetaName].keyword : translation['index'].keyword;
      _meta.description = translation[_themeMetaName].description ? translation[_themeMetaName].description : translation['index'].description;
    }
  } else {
    _meta.title = translation['index'].title ? translation['index'].title : '';
    _meta.keyword = translation['index'].keyword ? translation['index'].keyword : '';
    _meta.description = translation['index'].description ? translation['index'].description : '';
  }

  _meta.locale = file.fm.lang ? file.fm.lang : locale;
  _meta.ogtype = 'website';
  _meta.ogimagepath = domain + assets + '/img/' + _ogImagePath;
  _meta.ogimagepath += meta.ogimagepath ? meta.ogimagepath : translation['index'].ogimagepath;
  _meta.ogurl = domain + filepath + filename;
  _meta.oglocale = metaLocales[_meta.locale];
  _meta.ogsitename = meta.ogsitename ? meta.ogsitename : translation['index'].title;

_%>
<!--[if IE 8 ]><html lang="<%= _meta.locale %>" class="is-ie8"><![endif]-->
<!--[if IE 9 ]><html lang="<%= _meta.locale %>" class="is-ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="<%= _meta.locale %>"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= _meta.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="<%= _meta.keyword %>">
  <meta name="description" content="<%= _meta.description %>">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no, address=no, email=no">
  <!-- facebook -->
  <meta property="og:title" content="<%= _meta.title %>">
  <meta property="og:site_name" content="<%= _meta.ogsitename %>">
  <meta property="og:description" content="<%= _meta.description %>">
  <meta property="og:url" content="<%= _meta.ogurl %>">
  <meta property="og:image" content="<%= _meta.ogimagepath %>">
  <meta property="og:locale" content="<%= _meta.oglocale %>">
  <meta property="og:type" content="<%= _meta.ogtype %>">
  <meta property="fb:app_id" content="<%= fbappid %>" />
  <!-- twitter -->
  <meta name="twitter:title" content="<%= _meta.title %>" />
  <meta name="twitter:description" content="<%= _meta.description %>" />
  <meta name="twitter:url" content="<%= _meta.ogurl %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:image" content="<%= _meta.ogimagepath %>" />
  <link href="/<%- assets %>/css/style.css" rel="stylesheet" media="screen">
  <!--link rel="stylesheet" href="/<%- assets %>/css/print.css" media="print"-->
  <!--link rel="apple-touch-icon" href="/<%- assets %>/img/apple-touch-icon.png"-->
  <!--link rel="icon" href="/<%- assets %>/img/favicon.ico"-->
</head>
<body>
  <div id="fb-root"></div>

  <div class="l-container">

    <%- contents %>

  </div><!-- /.l-container -->

  <!--script src="/<%- assets %>/js/build.min.js"></script-->

  <!-- twitter button -->
  <!--a href="https://twitter.com/share" class="twitter-share-button">Tweet</a-->
  <!--script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script-->

  <!-- facebook button -->
  <!--div class="fb-like" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div-->
  <!--div class="fb-share-button" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">シェア</a></div-->
  <!--script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=0000000000000";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script-->

  <!--script>
    /**
     * Analytics Code
     */
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-00000000-0', 'auto');
    ga('send', 'pageview');
  </script-->
</body>
</html>
